{% extends "forms.html" %} {% block content %}
<div class="container mt-5">
  <div class="card shadow-lg" style="max-width: 640px; margin: 0 auto">
    <div class="card-body">
      <h3 class="mb-4 text-center">Edit Profile</h3>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3 text-center">
          <img
            src="{{ pfp }}"
            alt="Profile Picture"
            class="mb-3 rounded-circle border"
            style="width: 150px; height: 150px"
            id="userImage"
          />
        </div>

        {% for field in form %} {% if field.name != 'profile_picture' %}
        <div class="mb-3 form-floating">{{ field }} {{ field.label_tag }}</div>
        {% else %}
        <div class="mb-3 form-floating">
          <input
            type="file"
            name="profile_picture"
            class="form-control"
            id="input-file"
            accept="image/*"
          />
        </div>
        {% endif %} {% endfor %}
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<!-- <script defer>
  console.log("baaaaaaa");
  let inputFile = document.getElementById("input-file");
  console.log(inputFile);
  let userImage = document.getElementById("userImage");
  inputFile.addEventListener("change", () => {
    console.log("baaa");
    userImage.src = URL.createObjectURL(inputFile.files[0]);
    console.log(URL.createObjectURL(inputFile.files[0]));
  });
</script> -->
{% endblock %}
